@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  background: url(/images/bg-intro-desktop.png);


}
body{
  font-family: 'Poppins', sans-serif;


}
.outer{
  background-color: hsl(0, 100%, 74%);
  opacity: 0.7;
  color:white;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}
.left{
  padding: 10px;
  flex: 50%;
}
.left>h1{
  padding-top: 200px;
  font-size: 50px;
  font-weight: 700;
}
.left>p{
  text-align: left;
  margin-left: 140px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
}
.right{
  padding: 10px;
  flex: 50%;
}
.right>button{
  background-color: hsl(248, 32%, 49%);
  color:white;
  border-radius: 10px;
  border:1px solid hsl(248, 32%, 49%);
  margin-top: 50px;
}
.right>form{
  margin: auto;
  margin-top: 20px;
  width: 85%;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 60px;
}
.col-sm-10{
  margin: auto;
  margin-top: 30px;
}
.btn{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
}
.text-muted{
  font-size: 10px;
}
.right>p{
  color:black;
  font-size: 16px;
  margin: 20px;
}
/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .right, .left {
    flex: 100%;
  }
}
